<% content_for :title do %>
  <%= @cms_page.label %>
<% end %>

<div class="template template-padding site-padding">
  <div class="row column">
    <h1><%= @cms_page.label %></h1>  
  </div>
  
  <div id="vue-tabs" class="fouc">
    <tabs class="tabs">
      <tab selected="true" name="<%= cms_block_content('tab-1-title') %>">
        <h2><%= cms_block_content('tab-1-title') %></h2>

        <div class="custom-lists">
          <%= cms_block_content_render('tab-1-content') %>
        </div>
      </tab>
      
      <tab name="<%= cms_block_content('tab-2-title') %>">
        <h2><%= cms_block_content('tab-2-title') %></h2>

        <div class="custom-lists">
          <%= cms_block_content_render('tab-2-content') %>
        </div>
      </tab>
      
      <tab name="<%= cms_block_content('tab-3-title') %>">
        <h2><%= cms_block_content('tab-3-title') %></h2>

        <div class="custom-lists">
          <%= cms_block_content_render('tab-3-content') %>
        </div>
      </tab>
    </tabs>
  </div>
</div>