<% numberOfTabs = 4 %>

<% content_for :title do %>
  <%= @cms_page.label %>
<% end %>

<main class="template template-padding site-padding">
  <div class="row column">
    <h1><%= @cms_page.label %></h1>  
  </div>
  
  <div id="vue-tabs" class="fouc">
    <tabs class="tabs">

      <% (1..numberOfTabs).each do |i| %>
      
        <% if cms_block_content("tab-#{i}-title") != '' %>
          <tab name="<%= cms_block_content("tab-#{i}-title") %>">
            <h2><%= cms_block_content("tab-#{i}-title") %></h2>

            <div class="custom-lists">
              <%= cms_block_content_render("tab-#{i}-title") %>
            </div>
          </tab>
        <% end %>
      <% end %>

    </tabs>
  </div>
</main>