<% content_for :title do %>
  <%= @cms_page.label %>
<% end %>

<div class="template--article template-padding site-padding">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 column">
      <%= link_to 'News & Documents', "#{@cms_site.path}/news-and-documents", title: 'Visit the News and Documents page', class: 'button--arrow' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 column">
      <span class="article__date"><%= @cms_page.created_at.strftime('%d %B %Y') %></span>

      <% unless cms_block_content(:article_type).strip.empty? %> 
        <span class="article__category"><%= cms_block_content(:article_type) %></span>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 column article__main">
      <h1><%= @cms_page.label %></h1>
      
      <% unless cms_block_content(:introduction).strip.empty? %> 
        <div class="text--18 text--fira-sans">
          <%= cms_block_content(:introduction) %>
        </div>
      <% end %>
      
      <% if cms_block_content(:image)&.file&.present? %>
        <%= image_tag cms_block_content(:image).file.url(:thumbnail), alt: @cms_page.label, class: 'article__image' %>
      <% end %>

      <% unless cms_block_content(:content).strip.empty? %>
        <div class="article__copy">
          <%= cms_block_content_render(:content) %>
        </div>
      <% end %>

      <div class="article__buttons">
        <% if cms_block_content(:file_1)&.file&.present? %>
          <% file_1_label = cms_block_content(:file_1_label)  || "Download file" %>

          <%= link_to file_1_label, cms_block_content(:file_1).file.url, title: file_1_label, target: '_blank', class: 'button' %>
        <% end %>

        <% if cms_block_content(:url_1).present? %>
          <% url_1_label  = cms_block_content(:url_1_label)   || "Visit site" %>

          <%= link_to url_1_label, cms_block_content(:url_1), title: url_1_label, target: '_blank', class: 'button' %>
        <% end %>
      </div>
    
      <%= link_to 'News & Documents', "#{@cms_site.path}/news-and-documents", title: 'Visit the News and Documents page', class: 'button--arrow' %>
    </div>
  </div>
</div>