<%# set variables for view %>
<% @article_types = get_article_types %>
<% @articles = @cms_page.children.published %>

<div class="row">
  <div class="small-12 columns">
    <h1>News and Documents</h1>
  </div>
  <div class="small-12 medium-10 large-8 columns end">
    <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
  </div>
</div>

<div id="app">

  <div class="row column">
    <div>
      <filters>
        <% @article_types.each do |type| %>
            <checkbox name='<%= type.name %>' ref='checkbox'></checkbox>
        <% end %>

        <% if @articles.any? %>
          <articles>

            <% @articles.each do |article| %>

              <article-listing category="<%= cms_block_content(:article_type, article) %>" ref="article">
                <h3><%= link_to article.label, article.url(:relative) %></h3>

                <% unless cms_block_content(:image, article).to_s.strip.empty? %>
                  <%= image_tag cms_block_content(:image, article).file.url(:small), alt: article.label %>
                <% end %>

                <div>
                  <%= cms_block_content(:introduction, article) %>
                </div>
              </article-listing>

            <% end %>

          </articles>
        <% end %>

      </filters>
    </div>
  </div>

</div>