<% category = cms_block_content(:article_type, article)%>
<% url      = article.url(:relative) %>

<article-listing category="<%= category %>" id="<%= index %>">
  <div class="row">
    <div class="small-6 columns">
      <span class="article__date"><%= article.created_at.strftime('%d %B %Y') %></span>
    </div>
    <div class="small-6 columns">
      <% unless category.blank? %>
        <span class="article__category"><%= category %></span>
      <% end %>
    </div>
  </div>

  <%= link_to url, title: "View the article: #{article.label}", class: 'article__link' do %>
    <h3><%= article.label %></h3>

    <% if cms_block_content(:image, article)&.file&.present? %>
      <%= image_tag cms_block_content(:image, article).file.url(:thumbnail), alt: article.label %>
    <% else %>
      <div class="article__placeholder-image-wrapper">
        <%= image_tag 'backgrounds/placeholder-article-image.jpg', alt: 'Green background image', class: 'article__placeholder-background' %>

        <% placeholder_image = category == 'Document' ? 'file' : 'article' %>
        <% placeholder_class = category == 'Document' ? 'document' : 'news' %>

        <%= image_tag "icons/icon-#{placeholder_image}.svg", alt: "#{placeholder_class.capitalize} icon", class: "article__placeholder-image article__placeholder-image--#{placeholder_class}" %>
      </div>
    <% end %>

  <% end %>

  <% unless cms_block_content(:introduction, article).blank? %>
    <div class="article__intro">
      <%= cms_block_content(:introduction, article) %>
    </div>
  <% end %>

  <%= link_to 'Read more', url, title: article.label, class: 'article__read-more' %>
</article-listing>
