<% #locals %>
<% pagination = pagination ||= false %>
<% articles_per_page = articles_per_page ||= 6 %>

<% #declare variables for view %>
<% article_types = ArticleType.all %>
<% news_page = @cms_site.pages.find_by_slug('news-and-documents') %>

<% unless news_page.blank? %>
  <% if pagination %>
    <% @articles = news_page.children.published.reorder(created_at: :desc) %>
   <% else %>
    <% @articles = news_page.children.published.limit(articles_per_page).reorder(created_at: :desc) %>
  <% end %>
<% end %>

<div id="articles" class="fouc">

  <div class="row column">
    <filters v-show="<%= pagination %>">
      <% article_types.each do |type| %>
          <checkbox name='<%= type.name %>'></checkbox>
      <% end %>
    </filters>
  </div>

  <% unless @articles.empty? %>

    <articles>
      <% @articles.each_with_index do |article, index| %>
       <%= render partial: 'shared/article', locals: { article: article, index: index } %>
      <% end %>
    </articles>
    
    <pagination v-show="<%= pagination %>" articles-per-page="<%= articles_per_page %>"></pagination>

  <% else %>

    <div class="row column">
      <p>There are no articles to show.</p>
    </div>

  <% end %>

</div>

