<footer class="footer">
  <div class="footer__logos">
    <div class="row column">
      <h4>Partners</h4>
    </div>
    <div class="row column">
      <%= link_to 'https://www.thegef.org/', 
        title: 'Visit the Global Environment Facility website', 
        target: '_blank',
        class: 'footer__link' do %>

        <%= image_tag 'logos/logo-gef.svg', 
          alt: 'GEF logo', 
          class: 'footer__logo' %>

      <% end %>
      
      <%= link_to 'http://web.unep.org/', 
        title: 'Visit the UN Environment website', 
        target: '_blank',
        class: 'footer__link' do %>

        <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-+logo+2017.svg ', 
          alt: 'UN Environment logo', 
          class: 'footer__logo' %>

      <% end %>
      
      <%= link_to 'https://www.unep-wcmc.org/', 
        title: 'Visit the UN Environment World Conservation Monitoring Centre website', 
        target: '_blank',
        class: 'footer__link' do %>

        <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg', 
          alt: 'UN Environment World Conservation Monitoring Centre logo', 
          class: 'footer__logo' %>

      <% end %>

      <%= link_to 'https://nba.org.gh/', 
        title: 'Visit Ghana\'s National Biosafety Authority website', 
        target: '_blank',
        class: 'footer__link' do %>

        <%= image_tag 'logos/logo-national-biosafety-authority.png', 
          class: 'footer__logo', 
          alt: 'The National Biosafety Authority logo' %>

      <% end %>
    
      <%= link_to 'http://www.portaldogoverno.gov.mz/', 
        title: 'Visit the Mozambique government website ', 
        target: '_blank',
        class: 'footer__link' do %>

        <%= image_tag 'logos/logo-mozambique.png', 
          class: 'footer__logo', 
          alt: 'The Mozambique government logo' %>

      <% end %>

      <%= link_to 'http://www.nema.go.ug/', 
        title: 'Visit Uganda\'s National Environment Management Authority website', 
        target: '_blank',
        class: 'footer__link' do %>

        <%= image_tag 'logos/logo-national-environment-management-authority.png', 
          class: 'footer__logo', 
          alt: 'The National Environment Management Authority logo' %>

      <% end %>
    </div>
  </div>

  <div class="footer__contact bg--grey">
    <div class="row column">
      <%= link_to root_path, class: 'footer__contact__link' do %>
        <%= image_tag 'logos/logo-connect.svg', alt: 'Connect logo', class: 'footer__contact__logo' %>
      <% end %>
      
      <span class="footer__contact-copy">
        <i class="fa fa-envelope" aria-hidden="true"></i>Contact us at <%= link_to 'connect@unep-wcmc.org', 'mailto:connect@unep-wcmc.org?subject=Connect%20Enquiry', title: 'Send an email to Connect' %>
      </span>
    </div>
  </div>
  
  <div class="footer__copyright">
    <div class="row column">
      <span>&copy; 2017 Connect. All rights reserved.</span>
    </div>
  </div>
</footer>