<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,600i|Lato:400,700" rel="stylesheet">
    
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/ef2e4bc7df.js"></script>
  </head>

  <body>
    
    <%= render "shared/header" %>

    <%= yield %>
    
    <%= render "shared/footer" %>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
